* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    width: 100%;
    min-height: 100vh;
}

header {
    width: 100%;
    height: 100vh;
    background-image: url(/images/h.avif);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    padding-top: 20px;
}

.container {
    width: 90%;
    background-color: #fff;
    margin: 0 auto;
    height: 60px;
    padding: 0 30px;
    border: 1px solid rgb(74, 188, 46);
    border-radius: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.nav-links li {
    display: inline;
    margin-right: 2px;
    font-size: 15px;
    font-weight: 600;
}

.nav-links {
    display: none;
}

.menu-icon {
    font-size: 24px;
    font-weight: 600;
}

.logo {
    font-size: 24px;
}

.hero-section .content {
    position: absolute;
    width: 100%;
    top: 25%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 20px;
    margin: 0 auto;
}

.content h1 {
    font-size: 23px;
    font-weight: 700;
}

form {
    position: absolute;
    bottom: 0;
    background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 27%, rgba(252, 176, 69, 1) 100%);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: left;
    padding: 30px;
    gap: 20px;
    width: 100%;
}

.search_item div {
    color: #fff;
    font-weight: 500;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.search_item input {
    padding: 0px 20px;
    height: 30px;
    width: 100%;
    border: 0;
    outline: 0;
    color: #835757;
}

.search-btn {
    height: 45px;
    padding: 0 40px;
    border-radius: 30px;
    border: none;
    background-color: rgb(31, 31, 107);
    color: white;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 30px;
}

.service {
    padding: 100px 0;
    background-color: #d0eff8;
}

.service h5 {
    font-size: 15px;
    text-align: center;
    font-weight: 600;
    margin-bottom: 10px;
}

.service h1 {
    font-size: 45px;
    text-align: center;
    font-weight: 700;
    margin-bottom: 30px;
}

.item img {
    width: 150px;
    height: 150px;
}

.items {
    width: 80%;

    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    gap: 20px;
}

.items .item {
    background: linear-gradient(to top, #fff, rgb(108, 213, 255));
    padding: 30px 40px;
    border-radius: 20px;
    margin: 20px 10px;
    text-align: center;


}

.items .item h2 {
    font-size: 25px;
    margin-bottom: 10px;
    font-weight: 700;
}

.destination {
    background: #e9e2e2;
}

.destination-card {
    background: #fff;
    padding-bottom: 30px;

    border: 1px solid #ccc;

}

.destination-card img {
    width: 100%;
    height: 300px;
}

.destination-card h2 {
    margin: 20px 10px 0;
}

.destination-card p {
    margin: 10px 10px 20px;
}

.destination-card a {
    margin: 10px 10px 20px;
    background: black;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    padding: 7px 20px;
    font-size: 18px;
}

footer {
    width: 100%;
    padding: 20px 0;
    background: #310a74;
}

footer p {
    text-align: center;
    color: #acb4b4;
    font-weight: 500;
}

@media screen and (min-width:768px) {
    .nav-links {
        display: block;
    }

    .menu-icon {
        display: none;
    }

    .nav-links li {
        display: inline;
        margin-right: 20px;
        font-size: 15px;
        font-weight: 600;
    }

    .content h1 {
        font-size: 50px;

    }

    .content p {
        font-size: 30px;
        margin: 10px 0;

    }

    .hero-section .content {
        top: 40%;
    }

    form {
        justify-content: center;
    }

    form input {
        height: 40px;
    }

}

@media (min-width:768px) and (max-width:915px) {
    .content h1 {
        font-size: 40px;

    }

    .content p {
        font-size: 30px;
        margin: 10px 0;

    }

    .hero-section .content {
        top: 40%;
    }
}

@media (min-width:615px) and (max-width:767px) {
    .content h1 {
        font-size: 32px;
        font-weight: 600;
    }

    .content p {
        font-size: 20px;
        margin: 10px 0;

    }
}